{% extends 'template_base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %}Painel do Aluno{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'grade_horaria.css' %}">
{% endblock %}

{% block content %}

<body class="d-flex flex-column min-vh-100">
  <!-- Conteúdo principal -->
  <main class="container flex-fill my-4">
    <h3 class="mb-4">Grade Horária - Turma {{ aluno.turma }}</h3>

    <div class="table-responsive bg-white shadow-sm rounded p-3">
      <table class="table table-bordered text-center align-middle">
        <thead class="table-primary">
          <tr>
            <th>Horário</th>
            {% for dia in DIAS_SEMANA %}
              <th>{{ dia.1 }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for horario in HORARIOS %}
            <tr>
              <th class="table-light">{{ horario.1 }}</th>
              {% for dia in DIAS_SEMANA %}
                {% with aula=grade_organizada|dict_get:dia.0|dict_get:horario.0 %}
                  <td>
                    {% if aula %}
                      <div class="fw-bold">{{ aula.disciplina }}</div>
                      <small class="text-muted">Sala: {{ aula.sala }}</small>
                    {% else %}
                      <span class="text-muted"> - </span>
                    {% endif %}
                  </td>
                {% endwith %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>

{% endblock %}