{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EduTrack{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'main.css' %}">
    
    {% block head_extra %}{% endblock %}
</head>
<body>

    <header>
        <nav>
            <div class="logo">
                <img src="{% static 'imgs/EduTrack.png' %}" alt="EduTrack Logo">
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'dashboard' %}">Início</a></li>
                <li><a href="#">Resumo</a></li>
                <li><a href="#">Mensagens</a></li>
            </ul>
            <div class="search-bar">
                <input type="search" placeholder="">
                <i class="search-icon"></i>
            </div>
            <div class="profile-icon">
                <img src="{% static 'imgs/usuario-de-perfil.png' %}" alt="Ícone de Perfil"/>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer class="footer-bar">
        <p>© 2025 EduTrack. Todos os direitos reservados.</p>
    </footer>

    {% block scripts %}{% endblock %}

</body>
</html>