{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}EduTrack{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'global.css' %}">
  <style>
  .logo {
    height: 40px;
    width: auto;
  }

  .perfil {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
  </style> 
  {% block extra_css %}{% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-white shadow-sm px-4">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'bem_vindo_aluno' %}">
      <img src="{% static 'imgs/EduTrack.png' %}" alt="Logo EduTrack" class="logo">
    </a>
    <ul class="navbar-nav ms-4">
      {% if menu_items %}
        {% for item in menu_items %}
          <li class="nav-item">
            {% if item.url != '#' %}
                <a class="nav-link" href="{% url item.url %}">{{ item.nome }}</a>
              {% else %}
                <a class="nav-link disabled" href="#">{{ item.nome }}</a>
              {% endif %}

          </li>
        {% endfor %}
      {% endif %}
    </ul>

    <div class="ms-auto d-flex align-items-center">
      <input class="form-control me-2" type="search" placeholder="Buscar">
      <a href="{% url 'perfil_usuario' %}">
        <img src="{% static 'imgs/usuario-de-perfil.png' %}" class="perfil" alt="Perfil">
      </a>
    </div>
  </nav>

  <!-- Conteúdo da página -->
  <main class="container flex-fill my-4">
    {% block content %}{% endblock %}
  </main>

  <!-- Rodapé -->
  <footer class="footer-bar custom-footer mt-auto text-center p-2">
    &copy; 2025 EduTrack. Todos os direitos reservados.
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>